<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-android-goto-datetime-settings"
        version="0.7.0">

  <name>cordovaAndroidGotoDatetimeSettings</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/cordovaAndroidGotoDatetimeSettings.js" target="js/cordovaAndroidGotoDatetimeSettings.js"/>

  <js-module src="www/cordovaAndroidGotoDatetimeSettings.js" name="cordovaAndroidGotoDatetimeSettings">
    <clobbers target="cordova.plugins.cordovaAndroidGotoDatetimeSettings" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaAndroidGotoDatetimeSettings">
        <param name="android-package" value="org.sorribas.cordova.android.datetime.CordovaAndroidGotoDatetimeSettings"/>
      </feature>
    </config-file>

    <source-file src="src/org/sorribas/cordova/android/datetime/CordovaAndroidGotoDatetimeSettings.java" target-dir="src/org/sorribas/cordova/android/datetime/"/>
  </platform>
</plugin>
